{% extends 'base.html.twig' %}

{% block title %}Edit Vehicle{% endblock %}

{% block body %}
    <div class="container-md mt-4 row justify-content-sm-center">
      <div class="col-lg-8 offset-lg-2 sm-12 col-md-10 offset-md-1">
        <h1 class="mb-4"><i class="bi bi-person-standing"></i> Edit Vehicle</h1>

        {{ form_start(form, {'attr': {'id': 'vehicleForm'}}) }}
            <div class="mb-3">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.name) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.surname) }}
                {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.surname) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.license) }}
                {{ form_widget(form.license, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.license) }}
            </div>
            <button type="submit" class="btn btn-warning">
              <i class="bi bi-floppy2-fill"></i> Update driver
            </button>
        {{ form_end(form) }}

        <a href="{{ path('vehicle_index') }}" class="btn btn-secondary mt-2">
          <i class="bi bi-chevron-left"></i> Back to list
        </a>
      </div>
    </div>
{% endblock %}
